$roboto: 'Roboto Condensed', sans-serif;
$redBg : #8E0000;

body {
  margin: 0;
}

header {
  height: 10vh;
  background-color: $redBg;
  font-family: $roboto;
  display: grid;
  .wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 30%;
    align-items: center;
    .logo {
      a {
        text-decoration: none;
      }
      h1 {
        color: white;
        margin: 0;
      }
    }
    .menu {
      display: grid;
      grid-template-columns: repeat(4, auto);
      text-align: right;
      h3 {
        margin: 0;
        color: white;
      }
    }
  }
}

main {
  display: grid;
  min-height: 80vh;
  .carousel {
    background-color: rgb(94, 94, 94);
    .slide, .carousel-inner, .carousel-item {
      width: 80vw;
      height: auto;
      max-height: 80vh;
      margin: 0 auto;
      background-color: grey;
      img, .carousel-item {
        width: 100%;
      }
    }
  }
  .marvelBg {
    width: 100vw;
    position: fixed;
    z-index: -1;
    top: 0;
  }
  .moreInfo {
    height: 10vh;
    background-color: $redBg;
    text-align: center;
    display: grid;
    align-items: center;
    h3 {
      color: white;
      font-family: $roboto;
      margin: 0;
      font-size: 35px;
    }
  }
  .section {
    // background: url("./imgs/marvelBG.jpg");
    background-size: 100%;
    display: grid;
    height: auto;
    .wrapper {
      width: 85%;
      margin: 0 auto;
      display: grid;
      gap: 35px;      
      .sectionsBlog {
        padding: 15px;
        border-radius: 5px;
        width: 100%;
        display: grid;
        background-color: rgba(0, 0, 0, 0.8);
        grid-template-columns: 1fr 1fr 1fr 1fr 80px;
        grid-template-rows: auto 1fr auto;
        grid-gap: 15px;
        align-items: start;
        color: white;
        h1 {
          grid-column: 1/7;
          color: white;
        }
        h2 {
          grid-row: 3;
        }
        // .SectionsCard {
        //   width: 100%;
        //   color: white;
          img {
            width: 100%;
          }
        // }
        .row {
          align-self: center;
          justify-self: right;
          .row-right {
            align-self: center;
            justify-self: right;
            img {
              width: 70px;
            }
          }
        }
        
      }
    } 
  }
  .allWrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-self: center;
    gap: 15px;
    padding: 15px;
    text-transform: capitalize;
    a {
      img {
        width: 100%;
      }
    }
  }
}

.MoviePage {
  display: grid;
  // min-height: 80vh;
  background-color: rgb(114, 114, 114);
  justify-content: center;
  .wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    width: 90vw;
    height: 100%;
    display: grid;
    grid-template-columns: 20% auto;
    gap: 15px;
    .img {
      img {
        width: 100%;
      }
    }
    .info {
      color: white;
      .otherInfo {
        div {
          margin-bottom: 10px;
        }
      }
    }
  }
}

footer {
  width: 100%;
  font-size: 20px;
  height: 10vh;
  display: grid;
  background-color: $redBg;
  font-family: 'Squada One', cursive;
  .wrapper{
    justify-self: center;
    align-items: center;
    color: white;
    width: 90vw;
    display: grid;
    grid-template-columns: 50% auto;
    img {
      height: 20px;
    }
    a {
      color: white;
      text-decoration: none;
    }
    .madeWith {
      display: grid;
      justify-content: right;
    }
  }
}